@model GraciaDivina.Models.Auth.ChangePasswordVM
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<h1 class="h4 mb-3">Cambiar contraseña</h1>
<button type="button" class="btn btn-outline-secondary btn-sm"
        onclick="location.href='@Url.Action("Index", "Home", new { area = "Admin" })'">
    ← Volver
</button>


@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success">@Model.Message</div>
}

<form asp-action="ChangePassword" method="post" class="card p-3" style="max-width:520px;">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="ContrasenaActual" class="form-label">Contraseña Actual</label>
        <input asp-for="ContrasenaActual" class="form-control" />
        <span class="text-danger" asp-validation-for="ContrasenaActual"></span>
    </div>

    <div class="mb-3">
        <label for="NuevaContrasena" class="form-label">Nueva Contraseña</label>
        <input asp-for="NuevaContrasena" class="form-control" />
        <div class="form-text">Mínimo 8 caracteres, con mayúscula, minúscula, número y símbolo.</div>
        <span class="text-danger" asp-validation-for="NuevaContrasena"></span>
    </div>


    <div class="mb-3">
        <label asp-for="ConfirmarContrasena" class="form-label">Confirmar Contraseña</label>
        <input asp-for="ConfirmarContrasena" class="form-control" />
        <span class="text-danger" asp-validation-for="ConfirmarContrasena"></span>
    </div>

    <button class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" asp-area="Admin" asp-controller="Home" asp-action="Index">Cancelar</a>
 


</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
